 * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body{
        width: 100%;
        height: 100%;
      /* background: rgb(228,228,228);*/





    }
    .bgi{

       /* background-image: url(../image/bgi.jpg);
        background-repeat:no-repeat;


        */
        height: 800px;
        background-image: url(../image/bgi.jpg);
        background-size:cover;
        background-repeat:no-repeat;

    }
    .header{
        background: rgb(62,66,73);
        height: 80px;
        line-height: 40px;
        color: white;
        font-size: 35px;
    }
    .header p {
        margin-left: 20px;
        padding-top: 20px;
    }
    .content {
        margin: 20px;
        overflow: hidden;
    }
    .nav {
        float: left;
    }
    .nav li {
        border-radius: 5px;
        border: 1px gray;
        height: 30px;
        line-height: 30px;
        margin: 20px;
        box-shadow: 0px 0px 2px #888888;
        font-size: 30px;
    }
    .nav li a {
        color: black;
        margin: 10px;
        font-size: 60%;
        text-decoration: none;
    }
    .nav li.current{
        background: rgb(61,66,75);
    }

    .nav li.current a{
        color: azure;
        background: rgb(61,66,75);
    }

    .container{
        overflow: hidden;
        margin: 10px;
        
    }
    .title {
        background: rgb(61,66,75);
        height: 40px;
        color: azure;
        line-height: 40px;
        border-radius: 5px;
        padding-left: 20px;
        border: 1px gray;
        box-shadow: 0px 0px 2px #888888;
    }
    .show {
        border: 10px gray;
        margin: 1px; 
      /*  box-shadow: 0px 0px 2px #888888;

       */
        left:135px;

    }
    .chart-type {
        margin-top: 30px;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px gray;
        padding-left: 20px;
      /*  box-shadow: 0px 0px 2px #888888;

       */
        left:135px;
    }
    #main {
        background: white;
        width:600px;
        height:400px;
    /*    padding: 0px;

     */
        left: 354px;
    }
 .main3 {
     background:aliceblue;
     width:600px;
     height:400px;
     padding: 20px;
    margin-left:   354px;
 }
 .chart-typec {
     margin-top: 30px;
     height: 30px;
     line-height: 30px;
     border-bottom: 1px gray;
     padding-left: 20px;
    /* box-shadow: 0px 0px 2px #888888;

     */
     left:135px;
 }
    #mainc{
        background: white;
        width:600px;
        height:400px;
        padding-left: 354px;
    }